/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-snack-bar-container.success {
  background-color: #4ba647;
}
.mat-snack-bar-container.error {
  background-color: rgb(194, 80, 64);
}
simple-snack-bar span {
  margin: auto;
  text-align: center;
}
